body {
  padding: 0;
  margin: 0;
  border: 0;
}
.block {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
.block-img_1 {
  background: url("../img/Computer-1.jpg") 0 0/100% auto no-repeat;
}
.block-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 0 80px 130px;
}
.block-name {
  color: #fff;
  font-size: 132px;
  text-transform: uppercase;
  margin: 0 0 0 -30%;
}
.block-logo {
  height: 880px;
}
.block-logo-small {
  max-width: 100px;
  height: 300px;
}
.block-img_2 {
  background: url("../img/fon-grey.jpg") 0 0/100% auto no-repeat;
}
.block-sabcontent {
  padding: 135px 110px 135px 130px;
  display: flex;
}
.block-title-section {
  font-size: 71px;
  color: #4facfe;
  margin: 0;
  padding: 0 0 130px 0;
}
.block-info {
  margin-right: 20px;
}
.block-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
figure {
  text-align: center;
  max-width: 340px;
  max-height: 360px;
  margin: 0;
}
.block-points-text {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}
.block-img_3 {
  background: url("../img/Computer-2.jpg") 0 0/100% 100% no-repeat;
}
.block-content-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 130px 70px 80px 0;
}
.block-description-right {
  width: 40%;
}
.block-title {
  color: #13e1fe;
  font-size: 71px;
  margin-top: 0;
  margin-bottom: 20px;
}
.block-text-white {
  color: #fff;
  font-size: 24px;
  line-height: 35px;
}
.block-img_4 {
  background: url("../img/Computer-3.jpg") 0 0/100% auto no-repeat;
}
.block-description-left {
  padding: 100px 0 100px 130px;
  width: 35%;
}
.block-img_5 {
  background: url("../img/Computer-4.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper {
  padding: 130px 0 80px 1237px;
  width: 35%;
}
.right-new {
  padding: 0 0 120px 0;
  width: 100%;
}
.block-logo-dolby {
  text-align: right;
}
.block-img_6 {
  background: url("../img/Computer-5.jpg") 0 0/100% auto no-repeat;
}
.block-img_7 {
  background: url("../img/fon-grey.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 130px 100px 100px 130px;
}
.block-description {
  width: 50%;
  padding-left: 160px;
}
.block-img_8 {
  background: url("../img/Computer-6.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-text {
  padding: 510px 1098px 100px 130px;
}
.block-img_9 {
  background: url("../img/Computer-7.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-height {
  display: flex;
  padding: 785px 130px 100px 130px;
}
.width-title {
  width: 555px;
}
.width-text {
  width: 1050px;
}
.block-img_10 {
  background: url("../img/Computer-8.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-right {
  padding: 190px 160px 100px 940px;
}
.footer {
  font-family: "Montserrat", sans-serif;
  background: url("../img/fon-grey.jpg") 0 0/100% auto no-repeat;
  padding: 50px 80px 50px 100px;
}
.footer-description {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 950px;
  column-gap: 35px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(8, 115px);
}
@media screen and (min-width: 767px) {
  .grid_1 {
    grid-row-start: span 3;
  }
  .grid_2 {
    grid-row-start: span 2;
  }
  .grid_3 {
    grid-row-start: span 2;
  }
  .grid_5 {
    grid-row-start: span 5;
  }
  .grid_7 {
    grid-row-start: span 5;
  }
  .grid_8 {
    grid-row-start: span 2;
  }
  .grid_10 {
    grid-row-start: span 5;
  }
  .grid_11 {
    grid-row-start: span 2;
  }
  .grid_13 {
    grid-row-start: span 3;
  }
  .grid_14 {
    grid-row-start: span 2;
  }
  .grid_15 {
    grid-row-start: span 2;
  }
}
.footer-row {
  color: #fff;
  font-size: 21px;
  border-right: 3px solid #143d45;
}
.border {
  border-right: none;
}
.text-small {
  font-size: 11px;
}
.footer-title {
  color: #00f6ff;
  text-transform: uppercase;
}
.footer-text {
  color: rgb(228, 228, 228);
}

/*Responsive*/

/* 1776 - 1920 */
@media screen and (max-width: 1920px) {
  .block {
    max-width: 1580px;
  }
  .block-content {
    padding: 60px 0 80px 100px;
}
  .block-name {
    font-size: 100px;
    margin: 0 0 0 -50%;
  }
  .block-logo {
    height: 730px;
  }
  .block-logo-small {
    max-width: 80px;
    height: 255px;
}
.block-content-right {
  padding: 100px 70px 80px 0;
}
  .block-sabcontent {
    padding: 100px 85px 75px 100px;
  }
  .block-info {
    max-width: 755px;
  }
  .block-section-img {
    max-width: 725px;
  }
  figure {
    max-width: 275px;
    padding-bottom: 35px;
  }
  .block-description-left {
    padding: 100px 0 70px 100px;
    width: 47%;
  }
  .block-wrapper {
    padding: 100px 0 25px 930px;    
    width: 40%;   
  }
  .right-new {
    padding-bottom: 40px;
  }
  .block-longer {
    width: 57%;
  }
  .block-img-computer{
    padding: 0 0 0 80px;
  }
  .block-img-computer img {
    width: 100%;
  }
  .block-description {
    width: 58%;
    padding-left: 130px;
}
  .block-wrapper-content {
    align-items: flex-start;
    padding: 100px 60px 80px 100px;
  }
  .block-wrapper-text {
    padding: 240px 0 80px 100px;
    max-width: 30%;
  }
  .block-wrapper-height {
    padding: 590px 130px 70px 100px;
  }
  .block-wrapper-right {
    padding: 90px 60px 100px 780px;
  }
  .footer {
    background: url("../img/fon-grey.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-right: 20px;
  }
}
/* 1501 - 1775 */
@media screen and (max-width: 1775px) {
  .block {
    max-width: 1360px;
  }
  .block-name {
    font-size: 90px;
    margin: 0 0 0 -45%;
  }
  .block-logo {
    height: 620px;
  }
  .block-logo-small {
    max-width: 80px;
    height: 240px;
  }
  .block-sabcontent {
    padding: 80px 55px 80px 100px;
  }
  .block-info {
    max-width: 755px;
  }
  .block-title-section {
    font-size: 45px;
  }
  .block-section-img {
    max-width: 480px;
  }
  figure {
    padding-bottom: 35px;
  }
  figure img {
    max-width: 100px;
  }
  .block-points-text {
    font-size: 18px;
  }
  .block-img_3 {
    background: url("../img/Computer-2.jpg") 0 0/100% 100% no-repeat;
  }
  .block-content-right {
    padding: 65px 55px 80px 0;
  }
  .block-title {
    font-size: 45px;
  }
  .block-text-white {
    font-size: 20px;
    line-height: 32px;
  }
  .block-description-left {
    padding-bottom: 140px;
  }
  .block-description {
    padding: 0 0 0 90px;
}
  .block-wrapper {
    padding: 50px 0 30px 835px;
    width: 35%;
  }
  .dolby-img {
    width: 40%;
  }
  .block-longer {
    padding-bottom: 65px;
  }
  .block-wrapper-content {
  padding: 100px 60px 40px 100px;
  }
  .block-img-computer img {
    width: 80%;
  }
.block-wrapper-text {
  padding: 160px 0 60px 100px;
  max-width: 30%;
}
.block-wrapper-height {
  padding: 500px 130px 60px 100px;
}
.footer {  
  padding: 30px 20px 20px 100px;
}
  .footer-row {
    font-size: 14px;
  }
  .grid {
    grid-template-rows: repeat(8, 65px);
  }
  .footer-description {
    grid-template-rows: 670px;
  }
}
/* 1221 - 1500 */
@media screen and (max-width: 1500px) {
  .block {
    max-width: 1030px;
  }
  .block-name {
    font-size: 40px;
    margin: 0px 0px 0px -20%;
  }
  .block-content {
    padding: 50px 0px 50px 80px;
  }
  .block-logo {
    height: 470px;
  }
  .block-logo-small {
    max-width: 55px;
    height: 185px;
  }
  .block-sabcontent {
    padding: 50px 30px 50px 80px;
  }
  .block-info {
    max-width: 45%;
  }
  .block-title-section {
    font-size: 32px;
  }
  .block-section-img {
    max-width: 100%;
  }
  figure {
    max-width: 225px;
  }
  figure img {
    max-width: 60px;
  }
  .block-points-text {
    font-size: 16px;
  }
  .block-description-right {
    width: 50%;
  }
  .block-content-right {
    padding: 50px 30px 50px 80px;
  }
  .ryzen-img {
    width: 80%;
  }
  .block-title {
    font-size: 32px;
  }
  .block-text-white {
    font-size: 16px;
    line-height: 25px;
  }
  .block-description-left {
    padding: 50px 0 50px 80px;
  }
  .block-wrapper-content {
    padding: 50px 30px 50px 100px;
}
.block-img-computer {
  padding: 0;
}
  .block-wrapper {
    padding: 50px 15px 15px 670px;
    width: 33%;
  }
  .right-new {
    width: 100%;
    padding-bottom: 0;
  }
  .dolby-img {
    width: 30%;
  }
  .block-longer {
    width: 60%;
  }
  .block-description {
    width: 75%;
    padding-left: 0;
  }
  .block-wrapper-text {
    padding: 180px 655px 38px 80px
  }
  .block-wrapper-height {
    padding: 395px 30px 40px 80px;
  }
  .width-text {
    width: 1380px;
  }
  .block-wrapper-right {
    padding: 100px 50px 50px 550px;
  }
  .footer-description {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .block-logo-small {
    padding-left: 339px;
  }
  .footer {
    padding: 30px 20px 20px 80px;
}
  .footer-row {
    font-size: 14px;
  }
  .grid {
    grid-template-rows: repeat(8, 84px);
  }
  .footer-description {
    grid-template-rows: 785px;
    column-gap: 20px;
  }
}
/* 992 - 1220 */
@media screen and (max-width: 1220px) {
  .block {
    max-width: 915px;
  }
  .block-name {
    font-size: 40px;
    margin: 0;
  }
  .block-logo {
    height: 400px;
  }
  .block-logo-small {
    max-width: 50px;
    height: 170px;
  }
  .block-title-section {
    padding-bottom: 70px;
  }
  .block-title-section {
    font-size: 26px;
  }
  figure {
    max-width: 200px;
    max-height: 200px;
  }
  .block-points-text {
    font-size: 12px;
  }
  .ryzen-img {
    width: 60%;
  }
  .block-title {
    font-size: 26px;
  }
  .block-text-white {
    font-size: 14px;
    line-height: 18px;
  }
  .block-description-left {
    width: 35%;
  }
  .block-wrapper {
    padding: 50px 15px 30px 594px;
}
  .dolby-img {
    width: 30%;
  }
  .right-new {
    padding-bottom: 25px;
}
.block-longer {
  width: 57%;
}
  .block-wrapper-content {
    padding-bottom: 30px;
    padding-top: 50px;
  }
  .block-wrapper-text {
    padding: 100px 629px 38px 80px
  }
  .block-wrapper-height {
    padding-top: 370px;
    padding-bottom: 30px;
  }
  .block-logo-small {
    padding-left: 424px;
  }
  .block-wrapper-right {
    padding-bottom: 80px;
  }
  .footer {
    padding: 30px 20px 20px 80px;
}
.footer-row {
  font-size: 13px;
}
  .footer-description {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 315px;
    column-gap: 30px;
  }
  .grid {
    grid-template-rows: repeat(8, 35px);
  }
  .grid_1 {
    grid-row-start: span 2;
}
  .grid_4 {
    grid-row-start: span 2;
  }
  .grid_5 {
    grid-row-start: span 4;
}
  .grid_9 {
    grid-row-start: span 2;
  }
  .grid_10 {
    grid-row-start: span 4;
  }
  .grid_13 {
    grid-row-start: span 2;
}
  .border {
    border-right: 3px solid #143d45;
  }
}

/* 767 - 991 */
@media screen and (max-width: 991px) {
  .block {
    max-width: 750px;
  }
  .block-content {
    padding: 40px 0px 40px 60px;
}
  .block-name {
    font-size: 30px;
  }
  .block-logo {
    height: 290px;
  }
  .block-logo-small {
    max-width: 45px;
    height: 130px;
  }
  .block-sabcontent {
    justify-content: space-between;
    padding: 40px 20px 40px 60px;
  }
  .block-points {
    justify-content: space-around;   
}
  .block-info {
    max-width: 230px;
  }
  .block-title-section {
    padding-bottom: 35px;
    font-size: 20px;
  }
  .block-section-img {
    max-width: 230px;
  }
  .block-points-text {
    font-size: 12px;
    margin-top: 10px;
  }
  figure {
    max-width: 165px;
    max-height: 125px;
  }
  figure img {
    max-width: 40px;
  }
  .ryzen-img {
    width: 40%;
  }
  .block-title {
    font-size: 20px;
  }
  .block-text-white {
    font-size: 12px;
    line-height: 16px;
    text-shadow: 10px 2px 15px #000;
  }
  .block-content-right {
    padding: 40px 20px 40px 60px;
  }
  .block-description-left {
    padding: 40px 20px 40px 60px;
    width: 38%;
  }
  .block-wrapper {
    padding: 40px 20px 22px 482px;
    width: 31%;
  }
  .right-new {
    padding: 0;
}
.dolby-img {
  width: 20%;
}
  .block-longer {
    width: 68%;
  }
  .block-wrapper-content {
    padding: 40px 20px 40px 60px;
  }
  .block-description {
    width: 95%;
  }
  .block-wrapper-text {
    padding: 40px 500px 40px 60px;
  }
  .block-wrapper-height {
    padding: 258px 20px 40px 60px;
  }
  .block-wrapper-right {
    padding: 130px 20px 40px 385px;
  }
  .footer {
    padding: 30px 20px 20px 60px;
}
.footer-row {
  font-size: 12px;
}
.grid {
    grid-template-rows: repeat(8, 37px);
  }
.footer-description {
    grid-template-rows: 325px;
}
.grid_6 {
  grid-row-start: span 4;
}
.grid_7 {
  grid-row-start: span 5;
}
.grid_5 {
  grid-row-start: span 4;
}
.grid_10 {
  grid-row-start: span 5;
}
}
/* 577 - 766 */
@media screen and (max-width: 766px) {
  .block {
    max-width: 520px;
  }
  .block-content {
    padding: 30px 0px 30px 40px;
  }
  .block-name {
    margin: 0 220px 0 0;
    font-size: 25px;
  }
  .block-logo {
    height: 225px;
  }
  .block-logo-small {
    height: 75px;
    padding: 0;
  }
  .block-sabcontent {
    flex-direction: column;
    padding: 30px 20px 30px 40px;
  }
  .block-info {
    max-width: 100%;
    margin: 0;
    text-align: center;
  }
  .block-title-section {
    padding-bottom: 20px;
    font-size: 18px;
  }
  .block-section-img {
    max-width: 135px;
  }
  .block-points {
    padding-right: 0;
    width: 100%;
  }
  figure {
    max-width: 110px;
    padding: 0;
  }
  figure img {
    max-width: 25px;
  }
  .block-points-text {
    font-size: 9px;
    margin-top: 8px;
  }
  .block-description-right {
    width: 55%;
  }
  .block-title {
    font-size: 18px;
  }
  .block-text-white {
    font-size: 11px;
    line-height: 12px;
  }
  .block-text-white {
    padding-left: 24px;
  }
  .block-content-right {
    padding: 30px 20px 30px 40px;
  }
  .block-text-white {
    padding: 0;
}
  .right {
    padding: 0;
  }
  .block-description-left {
    padding: 30px 20px 30px 40px;
    width: 50%;
  }
  .block-wrapper {
    padding: 30px 20px 30px 40px;
    width: 85%;
  }
  .right-new {
    padding: 0 0 30px 0;
    width: 100%;
  }
  .left_0 {
    padding-left: 0;
  }
  .block-longer {
    width: 90%;
  }
  .block-wrapper-content {
    justify-content: space-between;
    padding: 30px 20px 30px 40px;
    align-items: center;
  }
  .block-img-computer img {
    width: 100%;
    margin: 0;
  }
  .block-img-computer {
    width: 40%;
  }
  .block-description {
    width: 50%;
}
  .text-right {
    padding-left: 0;
  }
  .block-img_7 {
    background: url("../img/fon-grey.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-text {
    padding: 30px 275px 30px 40px;
    max-width: 35%;
  }
  .block-wrapper-height {
    padding: 165px 20px 30px 40px;
  }
  .block-wrapper-right {
    padding: 50px 20px 30px 248px;
  }
  .footer-description {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 408px;
  }
  .grid {
    grid-template-rows: repeat(4, auto);
  }
  .grid_1 {
    grid-row-start: span 1;
}
.grid_4 {
  grid-row-start: span 1;
}
  .grid_7 {
    grid-row-start: span 1;
}
.grid_6 {
  grid-row-start: span 7;
}
.grid_9 {
  grid-row-start: span 1;
}
.grid_10 {
  grid-row-start: span 1;
}
.grid_13 {
  grid-row-start: span 1;
}
  .footer {
    padding: 30px 20px 30px 40px;
  }
  .footer-row {
    font-size: 11px;
}
}
/* 0 - 576 */
@media screen and (max-width: 576px) {
  .block {
    max-width: 90%;
    padding-left: 10px;
  }
  .block-img_1 {
    background: url("../img/Computer-1.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .block-name {
    font-size: 20px;

  }
  .block-logo {
    height: 125px;
  }
  .block-logo-small {
    height: 45px;
  }
  .block-img_2 {
    background: url("../img/fon-grey.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-sabcontent {
    padding-right: 10px;
  }
  .block-content-right {
    flex-direction: column;
  }
  .ryzen-img {
    width: 20%;
  }
  .block-description-right {
    width: 100%;
    text-align: center;
  }
  .block-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .block-text-white {
    padding-left: 0;
  }
  .block-text-white {
    font-size: 10px;
    line-height: 12px;
    text-shadow: 10px 2px 15px #000;
  }
  .block-content-right {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .block-description-left {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
  }
  .block-img_4 {
    background: url("../img/Computer-3.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-img_5 {
    background: url("../img/Computer-4.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .right-new {
    padding-bottom: 0;
  }
  .block-wrapper {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 97%;
  }
  .block-img_6 {
    background: url("../img/Computer-5.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-longer {
    text-align: center;
    width: 95%;
  }
  .block-wrapper-content {
    flex-direction: column;
    text-align: center;
  }
  .block-wrapper-content {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
  .block-img-computer img {
    width: 28%;
    margin-right: 0px;
  }
  .block-wrapper-text {
    padding-top: 90px;
    padding-right: 275px;
    padding-bottom: 25px;
  }
  .block-img_8 {
    background: url("../img/Computer-6.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-text {
    padding-top: 35px;
    padding-right: 15px;
  }
  .block-img_9 {
    background: url("../img/Computer-7.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-height {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .width-title {
    width: 90%;
  }
  .width-text {
    width: 90%;
  }
  .block-img_10 {
    background: url("../img/Computer-8.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-right {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .footer-row {
    font-size: 12px;
  }
}
