body {
  padding: 0;
  margin: 0;
  border: 0;
}
.block {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 130px;
  font-family: "Montserrat", sans-serif;
}
.block-img_1 {
  background: url("../img/Computer-1.jpg") 0 0/100% auto no-repeat;
}
.block-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 100px;
  padding-bottom: 100px;
}
.block-name {
  color: #fff;
  font-size: 132px;
  text-transform: uppercase;
  margin-right: 920px;
  margin-bottom: -25px;
}
.block-logo {
  height: 880px;
}
.block-logo-small {
  max-width: 100px;
  height: 300px;
}
.block-img_2 {
  background: url("../img/fon-grey.jpg") 0 0/100% auto no-repeat;
}
.block-sabcontent {
  padding-top: 135px;
  padding-bottom: 135px;
  padding-right: 110px;
  display: flex;
  align-items: center;
}
.block-title-section {
  font-size: 71px;
  background: linear-gradient(45deg, #4facfe 30%, #00f2fe 60%, #8aa9d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  margin: 0;
  padding-bottom: 130px;
}
.block-info {
  margin-right: 20px;
}
.block-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}
figure {
  text-align: center;
  max-width: 340px;
  max-height: 360px;
  margin: 0;
}
.block-points-text {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}
.block-img_3 {
  background: url("../img/Computer-2.jpg") 0 0/100% 100% no-repeat;
}
.block-content-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 130px;
  padding-bottom: 75px;
  padding-right: 70px;
}
.block-description-right {
  width: 40%;
}
.block-title {
  color: #13e1fe;
  font-size: 65px;
  margin-top: 0;
  margin-bottom: 20px;
}
.block-text-white {
  color: #fff;
  font-size: 24px;
  line-height: 35px;
}
.block-img_4 {
  background: url("../img/Computer-3.jpg") 0 0/100% auto no-repeat;
}
.block-description-left {
  padding-top: 100px;
  padding-bottom: 220px;
  width: 35%;
}

.block-img_5 {
  background: url("../img/Computer-4.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper {
  padding-top: 130px;
  width: 35%;
  padding-left: 1140px;
  padding-bottom: 80px;
}
.right-new {
  padding-bottom: 120px;
  width: 100%;
}
.block-logo-dolby {
  text-align: right;
}
.block-img_6 {
  background: url("../img/Computer-5.jpg") 0 0/100% auto no-repeat;
}
.block-longer {
  width: 40%;
  padding-bottom: 100px;
}
.block-img_7 {
  background: url("../img/fon-grey.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 100px;
}
.block-description {
  width: 50%;
  padding-left: 160px;
}
.block-img_8 {
  background: url("../img/Computer-6.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-text {
  padding-top: 510px;
  padding-right: 1098px;
  padding-bottom: 100px;
}
.block-img_9 {
  background: url("../img/Computer-7.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-height {
  display: flex;
  padding-top: 785px;
  padding-right: 130px;
  padding-bottom: 100px;
}
.width-title {
  width: 555px;
}
.width-text {
  width: 1050px;
}
.block-img_10 {
  background: url("../img/Computer-8.jpg") 0 0/100% auto no-repeat;
}
.block-wrapper-right {
  padding-top: 190px;
  padding-left: 940px;
  padding-right: 160px;
  padding-bottom: 100px;
}
.footer {
  font-family: "Montserrat", sans-serif;
  background: url("../img/fon-grey.jpg") 0 0/100% 100% no-repeat;
  background-size: cover;
}
.footer-description {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-left: -60px;
}
.footer-row {
  color: #fff;
  font-size: 21px;
  width: 290px;
  padding: 0 30px;
  border-right: 3px solid #143d45;
}
.border {
  border-right: none;
}
.text-small {
  font-size: 12px;
  line-height: 4px;
}
.footer-title {
  color: #00f6ff;
  text-transform: uppercase;
}
.footer-text {
  color: rgb(228, 228, 228);
}
.footer-logo {
  padding-top: 265px;
}

/*Responsive*/

/* 1776 - 1920 */
@media screen and (max-width: 1920px) {
  .block {
    max-width: 1580px;
  }
  .block-name {
    font-size: 110px;
    margin-right: 750px;
  }
  .block-logo {
    height: 750px;
  }
  .block-sabcontent {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 85px;
  }
  .block-info {
    max-width: 755px;
  }
  .block-section-img {
    max-width: 725px;
  }
  figure {
    max-width: 275px;
    padding-bottom: 35px;
  }
  .block-description-left {
    padding-bottom: 77px;
  }
  .block-wrapper {
    padding-top: 80px;
    width: 35%;
    padding-left: 980px;
    padding-bottom: 60px;
  }
  .right-new {
    padding-bottom: 80px;
  }
  .block-longer {
    width: 50%;
  }
  .block-wrapper-content {
    padding-top: 85px;
    padding-bottom: 65px;
  }
  .block-wrapper-text {
    padding-top: 295px;
    padding-bottom: 95px;
  }
  .block-wrapper-height {
    padding-top: 655px;
    padding-right: 130px;
    padding-bottom: 85px;
  }
  .block-wrapper-right {
    padding-top: 130px;
    padding-left: 820px;
    padding-right: 100px;
  }
}
/* 1501 - 1775 */
@media screen and (max-width: 1775px) {
  .block {
    max-width: 1360px;
  }
  .block-name {
    font-size: 90px;
    margin-right: 700px;
  }
  .block-logo {
    height: 620px;
  }
  .block-logo-small {
    max-width: 80px;
    height: 240px;
  }
  .block-sabcontent {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 55px;
  }
  .block-info {
    max-width: 755px;
  }
  .block-title-section {
    font-size: 55px;
  }
  .block-section-img {
    max-width: 525px;
  }
  figure {
    padding-bottom: 35px;
  }
  figure img {
    max-width: 100px;
  }
  .block-points-text {
    font-size: 18px;
  }
  .block-img_3 {
    background: url("../img/Computer-2.jpg") 0 0/100% 100% no-repeat;
  }
  .block-content-right {
    padding-top: 65px;
    padding-bottom: 80px;
    padding-right: 55px;
  }
  .block-title {
    font-size: 45px;
  }
  .block-text-white {
    font-size: 20px;
    line-height: 32px;
  }
  .block-description-left {
    padding-bottom: 155px;
  }
  .block-wrapper {
    padding-top: 50px;
    width: 35%;
    padding-left: 835px;
    padding-bottom: 30px;
  }
  .dolby-img {
    width: 40%;
  }
  .block-longer {
    padding-bottom: 65px;
  }
  .block-wrapper-content {
    padding-bottom: 50px;
    padding-right: 40px;
  }
  .block-img-computer img {
    width: 85%;
  }
  .block-wrapper-text {
    padding-top: 270px;
    padding-right: 960px;
  }
  .block-wrapper-height {
    padding-top: 555px;
  }
  .footer-description {
    margin-left: -95px;
  }
}
/* 1221 - 1500 */
@media screen and (max-width: 1500px) {
  .block {
    max-width: 1030px;
  }
  .block-name {
    font-size: 40px;
    margin-right: 615px;
    margin-bottom: -10px;
  }
  .block-content {
    padding-bottom: 80px;
  }
  .block-logo {
    height: 470px;
  }
  .block-logo-small {
    max-width: 80px;
    height: 240px;
  }
  .block-sabcontent {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 30px;
  }
  .block-info {
    max-width: 620px;
  }
  .block-title-section {
    font-size: 32px;
  }
  .block-section-img {
    max-width: 525px;
  }
  figure {
    max-width: 220px;
  }
  figure img {
    max-width: 70px;
  }
  .block-points-text {
    font-size: 16px;
  }
  .block-description-right {
    width: 50%;
  }
  .block-content-right {
    padding-top: 35px;
    padding-bottom: 50px;
    padding-right: 40px;
  }
  .ryzen-img {
    width: 80%;
  }
  .block-title {
    font-size: 32px;
  }
  .block-text-white {
    font-size: 18px;
    line-height: 28px;
  }
  .block-description-left {
    padding-top: 50px;
    padding-bottom: 35px;
  }
  .block-wrapper {
    padding-top: 30px;
    width: 35%;
    padding-left: 628px;
    padding-bottom: 15px;
  }
  .right-new {
    width: 100%;
    padding-bottom: 0;
  }
  .dolby-img {
    width: 30%;
  }
  .block-longer {
    width: 60%;
  }
  .block-description {
    width: 75%;
    padding-left: 0;
  }
  .block-wrapper-text {
    padding-top: 240px;
    padding-right: 675px;
    padding-bottom: 46px;
  }
  .block-wrapper-height {
    padding-top: 435px;
    padding-bottom: 40px;
    padding-right: 30px;
  }
  .width-text {
    width: 1380px;
  }
  .block-wrapper-right {
    padding-top: 100px;
    padding-left: 455px;
    padding-right: 50px;
  }
  .footer-description {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .border {
    border-right: 3px solid #143d45;
  }
  .block-logo-small {
    padding-left: 339px;
  }
}
/* 992 - 1220 */
@media screen and (max-width: 1220px) {
  .block {
    max-width: 915px;
    padding-left: 60px;
  }
  .block-content {
    padding-top: 65px;
    padding-bottom: 50px;
  }
  .block-name {
    font-size: 40px;
    margin-right: 470px;
    margin-bottom: -10px;
  }
  .block-logo {
    height: 400px;
  }
  .block-logo-small {
    max-width: 50px;
    height: 170px;
  }
  .block-title-section {
    padding-bottom: 70px;
  }
  .block-title-section {
    font-size: 26px;
  }
  .block-section-img {
    max-width: 420px;
  }
  figure {
    max-width: 200px;
    max-height: 200px;
  }
  .block-points-text {
    font-size: 14px;
  }
  .ryzen-img {
    width: 60%;
  }
  .block-title {
    font-size: 26px;
  }
  .block-text-white {
    font-size: 16px;
    line-height: 20px;
  }
  .block-description-left {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .block-wrapper {
    padding-left: 572px;
  }
  .dolby-img {
    width: 20%;
  }
  .block-wrapper-content {
    padding-bottom: 30px;
    padding-top: 50px;
  }
  .block-wrapper-text {
    padding-top: 230px;
    padding-right: 591px;
    padding-bottom: 30px;
  }
  .block-wrapper-height {
    padding-top: 370px;
    padding-bottom: 30px;
  }
  .block-logo-small {
    padding-left: 424px;
  }
  .footer-description {
    margin-left: 88px;
  }
}
/* 767 - 991 */
@media screen and (max-width: 991px) {
  .block {
    max-width: 750px;
    padding-left: 60px;
  }
  .block-name {
    font-size: 30px;
    margin-right: 320px;
    margin-bottom: -10px;
  }
  .block-logo {
    height: 290px;
  }
  .block-logo-small {
    max-width: 45px;
    height: 130px;
  }
  .block-sabcontent {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
  }
  .block-info {
    max-width: 230px;
  }
  .block-title-section {
    padding-bottom: 35px;
    font-size: 20px;
  }
  .block-section-img {
    max-width: 180px;
  }
  .block-points-text {
    font-size: 12px;
    margin-top: 10px;
  }
  figure {
    max-width: 165px;
    max-height: 125px;
  }
  figure img {
    max-width: 40px;
  }
  .ryzen-img {
    width: 40%;
  }
  .block-title {
    font-size: 20px;
  }
  .block-text-white {
    font-size: 14px;
    line-height: 18px;
    text-shadow: 10px 2px 15px #000;
  }
  .block-content-right {
    padding-top: 30px;
    padding-bottom: 35px;
    padding-right: 25px;
  }
  .block-description-left {
    padding-top: 30px;
    padding-bottom: 25px;
    width: 38%;
  }
  .block-wrapper {
    padding-left: 432px;
    padding-top: 20px;
    width: 37%;
    padding-bottom: 10px;
  }
  .block-longer {
    width: 68%;
  }
  .block-wrapper-content {
    padding-bottom: 30px;
    padding-top: 35px;
  }
  .block-description {
    width: 95%;
  }
  .block-wrapper-text {
    padding-top: 90px;
    padding-right: 501px;
    padding-bottom: 25px;
  }
  .block-wrapper-height {
    padding-top: 258px;
  }
  .block-wrapper-right {
    padding-top: 70px;
    padding-left: 328px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
  .block-logo-small {
    padding-left: 342px;
  }
  .footer-description {
    margin-left: -33px;
    padding-top: 30px;
  }
}
/* 577 - 766 */
@media screen and (max-width: 766px) {
  .block {
    max-width: 520px;
    padding-left: 30px;
  }
  .block-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .block-name {
    font-size: 25px;
    margin-right: 245px;
    margin-bottom: -6px;
  }
  .block-logo {
    height: 235px;
  }
  .block-logo-small {
    height: 75px;
  }
  .block-sabcontent {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .block-info {
    max-width: 90%;
    margin: 0;
    text-align: center;
  }
  .block-title-section {
    padding-bottom: 20px;
    font-size: 18px;
  }
  .block-section-img {
    max-width: 160px;
  }
  .block-points {
    padding-right: 0;
    width: 100%;
  }
  figure {
    max-width: 116px;
  }
  figure img {
    max-width: 20px;
  }
  .block-points-text {
    font-size: 10px;
    margin-top: 8px;
  }
  .block-description-right {
    width: 55%;
  }
  .block-title {
    font-size: 18px;
  }
  .block-text-white {
    font-size: 12px;
    line-height: 13px;
  }
  .block-text-white {
    padding-left: 24px;
  }
  .block-content-right {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
  }
  .right {
    padding: 0;
  }
  .block-description-left {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
  }
  .block-wrapper {
    padding-left: 0px;
    padding-top: 20px;
    width: 95%;
    padding-bottom: 10px;
  }
  .right-new {
    padding-bottom: 60px;
    padding-left: 0;
    width: 100%;
  }
  .left_0 {
    padding-left: 0;
  }
  .block-longer {
    width: 90%;
  }
  .block-wrapper-content {
    padding-bottom: 30px;
    padding-top: 35px;
  }
  .block-img-computer img {
    width: 70%;
  }
  .text-right {
    padding-left: 0;
  }
  .block-img-computer img {
    width: 65%;
    margin-right: -25px;
  }
  .block-img_7 {
    background: url("../img/fon-grey.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-text {
    padding-top: 90px;
    padding-right: 275px;
    padding-bottom: 25px;
  }
  .block-wrapper-height {
    padding-top: 185px;
    padding-bottom: 20px;
  }
  .block-wrapper-right {
    padding-top: 45px;
    padding-left: 248px;
    padding-bottom: 20px;
  }
  .footer-description {
    margin-left: 0;
    justify-content: center;
  }
  .footer-row {
    font-size: 14px;
  }
  .footer-logo {
    padding-top: 0;
  }
  .block-logo-small {
    padding-left: 348px;
  }
}
/* 0 - 576 */
@media screen and (max-width: 576px) {
  .block {
    max-width: 90%;
    padding-left: 10px;
  }
  .block-img_1 {
    background: url("../img/Computer-1.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .block-name {
    font-size: 20px;
    margin-right: 100px;
    margin-bottom: -7px;
  }
  .block-logo {
    height: 125px;
  }
  .block-logo-small {
    height: 45px;
  }
  .block-img_2 {
    background: url("../img/fon-grey.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-sabcontent {
    padding-right: 10px;
  }
  .block-content-right {
    flex-direction: column;
  }
  .ryzen-img {
    width: 20%;
  }
  .block-description-right {
    width: 100%;
    text-align: center;
  }
  .block-title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .block-text-white {
    padding-left: 0;
  }
  .block-text-white {
    font-size: 10px;
    line-height: 12px;
    text-shadow: 10px 2px 15px #000;
  }
  .block-content-right {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .block-description-left {
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
  }
  .block-img_4 {
    background: url("../img/Computer-3.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-img_5 {
    background: url("../img/Computer-4.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .right-new {
    padding-bottom: 0;
  }
  .block-wrapper {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 97%;
  }
  .block-img_6 {
    background: url("../img/Computer-5.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-longer {
    text-align: center;
    width: 95%;
  }
  .block-wrapper-content {
    flex-direction: column;
    text-align: center;
  }
  .block-wrapper-content {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
  .block-img-computer img {
    width: 28%;
    margin-right: 0px;
  }
  .block-wrapper-text {
    padding-top: 90px;
    padding-right: 275px;
    padding-bottom: 25px;
  }
  .block-img_8 {
    background: url("../img/Computer-6.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-text {
    padding-top: 35px;
    padding-right: 15px;
  }
  .block-img_9 {
    background: url("../img/Computer-7.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-height {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .width-title {
    width: 90%;
  }
  .width-text {
    width: 90%;
  }
  .block-img_10 {
    background: url("../img/Computer-8.jpg") 0 0/100% 100% no-repeat;
    background-size: cover;
  }
  .block-wrapper-right {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .footer-row {
    width: 190px;
  }
  .footer-row {
    font-size: 12px;
  }
  .block-logo-small {
    padding-left: 273px;
  }
}
